.popup_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.popup__error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
  min-height: 16px;
}

.popup__input_type_error {
  border-bottom-color: red !important;
}

.popup_type_avatar {
  max-width: 430px;
  width: 100%;
  min-height: 227px;
  max-height: 272px;
  background-color: #fff; /* белый фон окна */
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px;
  flex-shrink: 0;
  position: relative; /* для кнопки закрытия */
  z-index: 20; /* выше чем у .popup */
}

.popup_type_avatar-input {
  width: 100%;
}