.card__like-button_is-active {
  background: transparent url('../../../../components/images/like-active.svg') no-repeat;
}

.card__like-count {
  font-size: 13px;
  line-height: 1;
  color: #000;
  margin: 0;
}